:root {
  /* fonts */
  --font-helvetica-neue: "Helvetica Neue";

  /* font sizes */
  --font-size-sm: 23px;
  --font-size-base: 23px;
  --font-size-lg: 80px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray: #707070;
  --color-royalblue-100: #0070ff;
  --color-gray-100: #797e84;
  --color-gray-200: #787e85;
  

  /* border radiuses */
  --br-md: 14px;
}
